<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Seja bem vindo ao Merit Money APP.</p>
  <p>Favor aguardar o email de liberação.</p>
  <p>Se não foi você, então descarte esse email!</p>
  <p>
    Obrigado!<br />
    <strong>Equipe Merit Money</strong>
  </p>
</div>
